#rectangle {
    background-color: rgb(55, 194, 148);
    padding: 10px;
    margin-bottom: -7px;
    font-size: 1.1em;
    color: white;
}

#otherrect {
    padding: 10px;
    border: 1px solid #fff;
    background: #dfe6e1;
    margin-left: 30px;
    overflow: hidden;
    border-right: none;
}