* {
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    font: 1em/1.5 Arial;
}

.box {
    width: 500px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}

.box span {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    background: linear-gradient(0deg, #ccc, #999 50%, #ccc);
}

.box span.active {
    background: linear-gradient(0deg, #B2E28F, #64C51D 50%, #B2E28F);
    color: #fff;
}

.box span::before,
.box span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    border-width: 15px 6px;
    border-style: solid;
    border-right: none;
}

.box span::before {
    left: 0;
    border-color: transparent;
    border-left-color: #fff;
}

.box span::after {
    right: 0;
    border-color: #fff;
    border-left-color: transparent;
}

.box span:first-child::before,
.box span:last-child::after {
    display: none;
}