    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }
    
    div {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(247, 245, 245);
    }
    
    h1 {
        font-size: 18pt;
        font-weight: 40;
        position: relative;
        margin-top: 4%;
        margin-left: 3%;
        margin-bottom: 1%;
    }
    
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 5%;
    }
    
    label {
        margin-left: 2%;
    }
    
    .container {
        /* padding: 0; */
        background-color: #1E90FF;
        width: 35%;
        height: 30%;
        border: 2px solid #1473d1;
    }
    
    input[type=text] {
        width: 95%;
        padding: 1%;
        margin: 1% 0 1% 2%;
        border: 1px solid #666;
        background: #f1f1f1;
    }
    
    h2 {
        display: flex;
    }
    
    label[for="psw"] {
        margin-left: 2%;
        display: block;
        font-size: 12pt;
    }
    
    label[for="email"] {
        font-size: 12pt;
        padding: 0;
    }
    
    input[type=password] {
        width: 93%;
        padding: 1%;
        border: 1px solid #666;
        background: #f1f1f1;
    }
    
    input[type=button] {
        border: 5% solid;
        border-color: #fdea7c;
        background: #fdea7c;
        margin-bottom: 3%;
    }
    
    * {
        box-sizing: border-box;
    }
    
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=button]:focus {
        background-color: #ddd;
        outline: none;
    }