body {
    background-color: black;
}

.cont {
    background-color: rgba(255, 255, 255, 0.959);
    width: 400px;
    padding: 10px 20px;
    border-radius: 0 0 10px 10px;
    margin: 50px 100px;
    position: relative;
}

p {
    margin-top: 50px;
}

.box1 {
    background: linear-gradient(120deg, black 70% 80%, rgba(255, 255, 255, 0.041) 80%);
    width: 160px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: -webkit-linear-gradient(120deg, black 70% 80%, rgba(255, 255, 255, 0.041) 80%);
    background-image: -moz-linear-gradient(120deg, black 70% 80%, rgba(255, 255, 255, 0.041) 80%);
    background-image: -o-linear-gradient(120deg, black 70% 80%, rgba(255, 255, 255, 0.041) 80%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (startColorstr=black, endColorstr=rgba(255, 255, 255, 0.041))";
    background-image: linear-gradient(120deg, black 70% 80%, rgba(255, 255, 255, 0.041) 80%);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#81a8cb', endColorstr='#4477a1');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#81a8cb', endColorstr='#4477a1')";
}

.box1>p1 {
    padding-left: 10px;
    color: #fbab60;
    font: bold 2.2em arial, sans-serif;
}