﻿@{
    Layout = "~/_LayoutPage.cshtml";
    PageData["Title"] = "Index";
}
@using UserAndAwards.Entities;
@using UserAndAwards.BllContracts;
@using UserAndAwards.Logic;
@{
    <button class="btn">Add user</button>
    <div class="div1" style="display:none;">
        <form action="~/Index.cshtml" method="post" id="addForm">
            <label>Name:</label>
            <input type="text" name="name" />
            <br />
            <label>Surname:</label>
            <input type="text" name="surname" />
            <br />
            <label>Date Of Birthday:</label>
            <input type="date" name="date" />
            <button type="submit">Add</button>
        </form>
        <button type="submit" id="rewarding">Add award of user</button>
        <div class="rewarding1" style="display:none;">
            <label>Title:</label>
            <input type="text" name="title" />
            <button type="submit">Add</button>
        </div>
    </div>
    <br />
    <button class="btn1">Delete user</button>
    <div class="div2" style="display:none;">
        <form action="~/Index.cshtml" method="post" id="deleteForm">
            <label>Id of user:</label>
            <input type="number" name="id" />
            <button type="submit">Delete</button>
        </form>
    </div>
    <br />
    <form action="~/Index.cshtml" method="post" id="showForm">
        <button type="submit">Show all users</button>
        <div>
            <p id="result"></p>
        </div>
    </form>
    <button class="btn2">Add award</button>
    <div class="div3" style="display:none;">
        <form action="~/Index.cshtml" method="post" id="addFormAward">
            <label>Title:</label>
            <input type="text" name="title" />
            <button type="submit">Add</button>
        </form>
    </div>
    <br />
    <button class="btn3">Delete award</button>
    <div class="div4" style="display:none;">
        <form action="~/Index.cshtml" method="post" id="deleteFormAward">
            <label>Id of award:</label>
            <input type="number" name="idAward" />
            <button type="submit">Delete</button>
        </form>
    </div>
    <br />
    <form action="~/Index.cshtml" method="post" id="showFormAward">
        <button type="submit">Show all awards</button>
        <div>
            <p id="resultAward"></p>
        </div>
    </form>
}

@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn").click(function () {
                $(".div1").slideToggle();
            });
        });
        $(document).ready(function () {
            $(".btn1").click(function () {
                $(".div2").slideToggle();
            });
        });
        $(document).ready(function () {
            $(".btn2").click(function () {
                $(".div3").slideToggle();
            });
        });

        $(document).ready(function () {
            $(".btn3").click(function () {
                $(".div4").slideToggle();
            });
        });

        $(document).ready(function () {
            $("#rewarding").click(function () {
                $(".rewarding1").slideToggle();
            });
        });

        (function addUser() {
            var $inputName = $("input[name=name]"),
                $inputSurname = $("input[name=surname]"),
                $inputDate = $("input[name=date]");

            $("#addForm").submit(function() {
                $.ajax({
                    method: "POST",
                    url: "/IndexAjaxAdd",
                    data: { name: $inputName.val(), surname: $inputSurname.val(), date: $inputDate.val() },
                    success: function (response) {
                        alert(response);
                    },
                })
                return false;
            })
        })();

        (function () {
            var $inputId = $("input[name=id]");

            $("#deleteForm").submit(function () {
                $.ajax({
                    method: "POST",
                    url: "/IndexAjaxDel",
                    data: { id: $inputId.val() },
                    success: function (response) {
                        alert(response);
                    }
                })
                return false;
            })
        })();

        (function () {
            var $result = $("#result");
            $("#showForm").submit(function () {
                $.ajax({
                    method: "POST",
                    url: "/IndexAjaxShow",
                    success: function (response) {
                        $result.text(response);
                    }
                })
                return false;
            })
        })();

        (function () {
            var $result = $("#resultAward");
            $("#showFormAward").submit(function () {
                $.ajax({
                    method: "POST",
                    url: "/IndexAjaxShowAwards",
                    success: function (response) {
                        $result.text(response);
                    }
                })
                return false;
            })
        })();

        (function addAward() {
            var $inputTitle = $("input[name=title]");

            $("#addFormAward").submit(function () {
                $.ajax({
                    method: "POST",
                    url: "/IndexAjaxAddAward",
                    data: { title: $inputTitle.val() },
                    success: function (response) {
                        alert(response);
                    }
                })
                return false;
            })
        })();

        (function () {
            var $inputId = $("input[name=idAward]");

            $("#deleteFormAward").submit(function () {
                $.ajax({
                    method: "POST",
                    url: "/IndexAjaxDelAward",
                    data: { idAward: $inputId.val() },
                    success: function (response) {
                        alert(response);
                    }
                })
                return false;
            })
        })();
    </script>
}
