* {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.menu {
    list-style-type: none;
    margin: 50px 200px;
}

.menu>li {
    position: relative;
    float: left;
    margin-right: 50px;
}

.menu>li>a {
    color: blue;
    padding: 4px;
}

.menu>li:hover>a {
    color: black;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6);
}

.menu>li:hover>a:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 7px;
    background: white;
    z-index: 5;
    cursor: pointer;
}

.menu-inner {
    display: none;
}

.menu>li:hover>.menu-inner {
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 22px;
    list-style-type: none;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6);
    width: 120px;
    padding: 3px;
}

.menu-inner>li {
    padding: 4px 0;
}

.menu-inner>li:hover {
    background-color: blue;
}

.menu-inner>li:hover>a {
    color: white;
    padding: 2px;
    text-decoration: none;
}