ul {
    width: 200px;
    margin: 50px auto;
    padding: 15px;
    background: #F9E497;
    border-radius: 10px;
    border: 1px outset #010101;
    box-shadow: 7px 7px 0 0 #880000;
    list-style: none;
    line-height: 2;
}

ul a {
    text-decoration: none;
    color: #880022;
}

ul a:hover {
    text-decoration: underline;
}