body {
    background-color: rgba(0, 0, 0, 0.856);
}

div {
    background: repeating-linear-gradient(to bottom, transparent, transparent 20px, #333 20px, #333 23px), linear-gradient(to bottom, #facb53, #e68005);
    width: 45px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    vertical-align: bottom;
}

.e1 {
    height: 113px;
}

.e2 {
    height: 45px;
}

.e3 {
    height: 182px;
}

.e4 {
    height: 227px;
}

.e5 {
    height: 113px;
}

.e6 {
    height: 68px;
}