    @charset "Utf-8";
    * {
        margin: 0px;
        padding: 0px;
        outline: none;
    }
    
    body {
        width: 100%;
        background-color: #EDEEF0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 13px;
    }
    
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 42px;
        background-color: #4a76a8;
        z-index: 120;
    }
    
    #page_header {
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
        height: 42px;
        font-size: 12.5px;
    }
    
    #wrapperHeader {
        width: 960px;
        height: 40px;
    }
    
    #logotype {
        float: left;
        width: 160px;
        height: 40px;
        background: url('images/logotype.png') no-repeat;
        background-size: 33px;
        background-position: 0px 4px;
        cursor: pointer;
    }
    
    #logotype:active {
        background-position: 0px 5px;
    }
    
    #search {
        margin: 7px 0px;
        padding: 6px 6px 6px 19px;
        width: 230px;
        height: 28px;
        border: transparent;
        border-left: 8px solid transparent;
        background: url('images/search.png') no-repeat #224b7a;
        background-position: left 8px;
        border-radius: 15px;
        color: #C0CDDB;
        font-size: .75em;
        box-sizing: border-box;
    }
    
    #search:focus {
        background-color: #FFF;
        color: #000;
    }
    
    #search::placeholder {
        color: #8ba6bd;
        font-weight: 548;
        font-size: 10pt;
    }
    
    #bell:after {
        margin: 11px auto;
        position: relative;
        content: url('https://vk.com/images/svg_icons/ic_head_notify.svg');
        top: -32px;
        left: 420px;
        font-size: 20px;
        cursor: pointer;
    }
    
    #audio {
        cursor: pointer;
        content: url('https://vk.com/images/svg_icons/ic_head_audio.svg');
        margin: 11px auto;
        background: center/contain no-repeat;
        width: 20px;
        height: 20px;
        top: -68px;
        position: relative;
    }
    
    #audio-play {
        border: 0;
        border-radius: 3px;
        position: relative;
        display: block;
        -webkit-appearance: none;
        width: 22px;
        top: -98px;
        height: 20px;
        background-color: #224b7a;
        overflow: visible;
        left: 500px;
        cursor: pointer;
    }
    
    #audio-play::before {
        position: absolute;
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        top: 6px;
        background-color: #224b7a;
        border-radius: 1px;
        right: 20px;
        transform: rotate(45deg);
        left: -2px;
    }
    
    #audio-play::after {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2210%22%20viewBox%3D%220%200%207%2010%22%20width%3D%227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m.797%209.836c-.44.327-.797.152-.797-.41v-8.852c0-.554.353-.74.797-.411l5.962%204.42c.31.23.31.603%200%20.833z%22%20fill%3D%22%23b4c8e0%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E) no-repeat;
        display: block;
        content: '';
        position: absolute;
        width: 7px;
        height: 10px;
        top: 5px;
        left: 8px;
    }
    
    a {
        cursor: pointer;
    }
    
    div {
        display: block;
    }
    
    .side_bar_inner {
        padding: 15px 0 10px;
        margin-top: 42px;
        z-index: 10;
        width: 149px;
        text-align: left;
        display: block;
    }
    
    #side_bar ol {
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
    }
    
    ol {
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    #side_bar ol li {
        margin-left: 8px;
    }
    
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    
    #side_bar ol li .left_row {
        border: 0;
        color: #2a5885;
        display: block;
        white-space: nowrap;
    }
    
    .left_count_wrap {
        margin: 2px 0 2px 2px;
    }
    
    .fl_l {
        float: left;
    }
    
    .left_count_wrap {
        padding: 4px 6px;
        background: #d3d9de;
        border-radius: 2px;
    }
    
    .fl_r {
        float: left;
    }
    
    #side_bar #l_pr .left_icon {
        background-position: 7px 6px;
    }
    
    #side_bar .left_icon {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%221071%22%3E%3Cg%20fill%3D%22%237D9CB8%22%3E%3Cpath%20d%3D%22M3.34%20908.66a8%208%200%201111.32-11.32%208%208%200%2001-11.32%2011.32zm3.54-3.54a11.98%2011.98%200%20011.92%202.35c.32.46.8.47%201.12.03%200%200%201.9-1.67-.92-4.5-2.83-2.83-4.5-.92-4.5-.92-.46.28-.43.81.03%201.12%200%200%20.93.5%202.35%201.92zm3.72-1.97c.32.46%201.12.44%201.8-.04.68-.47.97-1.22.66-1.68-.32-.45-1.13-.43-1.8.04-.68.48-.98%201.23-.66%201.68zm.8%202.28c.18.35.74.44%201.28.19s.83-.74.67-1.1c-.17-.36-.74-.44-1.27-.2-.54.26-.84.75-.67%201.1zm-4.85-4.86c.36.17.85-.13%201.1-.67s.16-1.1-.2-1.27c-.35-.17-.84.13-1.1.67-.24.53-.15%201.1.2%201.27zm2.3.83c.45.32%201.2.02%201.68-.65.47-.68.49-1.49.04-1.8-.46-.32-1.2-.03-1.68.65s-.5%201.48-.04%201.8zm.14-34.4a8%208%200%20017.58%205.42%207.99%207.99%200%2001-5%2010.15c-.83.29-1.7.43-2.58.43a7.91%207.91%200%2001-3.52-.83%207.94%207.94%200%2001-4.04-4.6%207.99%207.99%200%20015-10.14%207.96%207.96%200%20012.56-.43zm.78%201.76c-3.27%202.49-3.5%205.31-3.5%206.12v.19l.18.05a3.76%203.76%200%20001.19.21c.33%200%20.65-.05.94-.16l.16-.06.01-.17c.09-1.13.61-3.35%203.19-5.52l.3-.26-.36-.17a6.7%206.7%200%2000-1.56-.53l-.11-.02-.1.07-.34.25zm-6.92%203.66l-.07.16.13.12c.4.4%201.05%201%201.81%201.53l.35.24.06-.43a8.88%208.88%200%20012.62-5.1l.63-.65-.88.2a6.64%206.64%200%2000-4.65%203.93zm-.24%204.48l.1.06a10.41%2010.41%200%20005.24%201.68h.12a5.55%205.55%200%20002.93-.83l.27-.18-.23-.23a8.2%208.2%200%2000-1.57-1.19l-.12-.07-.12.06a3.76%203.76%200%2001-1.59.34c-1.96%200-3.88-1.43-4.85-2.29l-.4-.34-.03.52c-.07.8%200%201.6.22%202.37l.03.1zm10.14%203.61l.16-.11-.06-.19a7.24%207.24%200%2000-.69-1.42l-.14-.23-.22.16a6.73%206.73%200%2001-3.85%201.13%209.9%209.9%200%2001-3.54-.71l-1.06-.4.78.82a6.66%206.66%200%20001.92%201.42%206.6%206.6%200%20002.94.7%206.67%206.67%200%20003.76-1.17zm2.44-3.02l.04-.1-.04-.1c-1.28-2.93-3.22-4.1-4.26-4.52l-.22-.1-.11.22c-.46.86-.6%201.59-.64%202.04l-.02.17.14.08a8.82%208.82%200%20013.64%203.99l.18.38.26-.32a6.64%206.64%200%20001.03-1.74zm0-2.69l.52.75-.05-.9a6.65%206.65%200%2000-.34-1.8%206.66%206.66%200%2000-1.87-2.82l-.16-.14-.17.13c-.57.44-1.07.9-1.49%201.38l-.23.26.32.14c.93.45%202.3%201.33%203.46%203zm-5.27-23.79l-.92-.89-.92.9a3.57%203.57%200%2001-4.93%200%203.7%203.7%200%20010-5.36l5.16-4.99a1%201%200%20011.38%200l5.16%204.99a3.7%203.7%200%20010%205.35%203.57%203.57%200%2001-4.93%200zM7%20855l2-4%202%204s-1%20.5-2%20.5-2-.5-2-.5zm4.82-36.9c1.7-5.76-3.27-8-3.27-8-.34%202.88-2.04%203.48-3.83%205-2.97%202.52-2.71%205-2.71%205-.22%203.84%204.88%205.52%204.88%205.52-2.33-4%201.1-6%201.1-6a6.4%206.4%200%20004.21%206.48c7.1-3.64%202.08-11.24%202.08-11.24-.17%202.6-2.46%203.24-2.46%203.24zM3.47%20765a.5.5%200%2001-.5-.47l-.41-6.6a.35.35%200%2001.6-.28L6.5%20761l2.19-4.37a.35.35%200%2001.62%200L11.5%20761l3.35-3.35a.35.35%200%2001.6.27l-.42%206.61a.5.5%200%2001-.5.47H3.47zm.17%201h10.72c.22%200%20.3.02.38.07a.45.45%200%2001.2.19c.04.08.06.16.06.38v.72c0%20.22-.02.3-.07.38a.45.45%200%2001-.19.2c-.08.04-.16.06-.38.06H3.64c-.22%200-.3-.02-.38-.07a.45.45%200%2001-.2-.19c-.04-.08-.06-.16-.06-.38v-.72c0-.22.02-.3.07-.38a.45.45%200%2001.19-.2c.08-.04.16-.06.38-.06zm13.03%2024.96l.05.11c.53.6.78%201.37.78%202.14%200%20.85-.32%201.7-.98%202.32v1.76a.7.7%200%2001-.7.71h-1.6a.7.7%200%2001-.7-.7V796H4.48v1.3a.7.7%200%2001-.7.7h-1.6a.7.7%200%2001-.7-.7l-.02-1.82a3.14%203.14%200%2001-.96-2.33%203.22%203.22%200%2001.75-2.08l.05-.11c-.83-.07-1.3-.47-1.3-.98%200-.54.63-.98%201.4-.98.2%200%20.44.05.69.15l.13-.3c.43-1.16%201-2.3%201.63-2.74%202.22-1.48%208.08-1.48%2010.3%200%20.64.43%201.2%201.57%201.63%202.74l.13.3a2%202%200%2001.7-.15c.76%200%201.39.44%201.39.98%200%20.52-.48.92-1.33.98zm-12.03-3.48c-.35.25-.8%201.27-1.2%202.52h11.23c-.4-1.25-.85-2.27-1.2-2.52-1.77-1.3-7.06-1.3-8.83%200zM3.6%20792c-.77%200-1.4.44-1.4.98%200%20.55.53.96%201.47.98.55.01%202.02.12%202.03-.08%200-1.16-1.33-1.88-2.1-1.88zm10.8%200c-.77%200-2.1.72-2.1%201.88.01.2%201.48.1%202.03.08.94-.02%201.47-.43%201.47-.98%200-.54-.62-.98-1.4-.98zM2.97%20700h4.08c.33%200%20.46.04.58.1a.68.68%200%2001.28.28c.07.13.1.25.1.58v4.08c0%20.33-.03.45-.1.58a.68.68%200%2001-.28.28c-.13.07-.25.1-.58.1H2.96c-.33%200-.46-.04-.58-.1a.68.68%200%2001-.28-.28c-.07-.13-.1-.25-.1-.58v-4.08c0-.33.03-.45.1-.58a.68.68%200%2001.28-.28c.13-.07.25-.1.58-.1zm0%208h4.08c.33%200%20.46.04.58.1a.68.68%200%2001.28.28c.07.13.1.25.1.58v4.08c0%20.33-.03.45-.1.58a.68.68%200%2001-.28.28c-.13.07-.25.1-.58.1H2.96c-.33%200-.46-.04-.58-.1a.68.68%200%2001-.28-.28c-.07-.13-.1-.25-.1-.58v-4.08c0-.33.03-.45.1-.58a.68.68%200%2001.28-.28c.13-.07.25-.1.58-.1zm8%200h4.08c.33%200%20.45.04.58.1a.68.68%200%2001.28.28c.06.13.1.25.1.58v4.08c0%20.33-.04.45-.1.58a.68.68%200%2001-.28.28c-.13.07-.25.1-.58.1h-4.08c-.33%200-.46-.04-.58-.1a.68.68%200%2001-.28-.28c-.07-.13-.1-.25-.1-.58v-4.08c0-.33.03-.45.1-.58a.68.68%200%2001.28-.28c.13-.07.25-.1.58-.1zm2.72-8.56l2.88%202.88c.24.24.3.35.34.48.04.13.04.27%200%20.4s-.1.24-.34.48l-2.88%202.88c-.24.24-.35.3-.48.34a.68.68%200%2001-.4%200c-.13-.04-.24-.1-.48-.34l-2.88-2.88c-.24-.24-.3-.35-.34-.48a.68.68%200%20010-.4c.04-.13.1-.24.34-.48l2.88-2.88c.24-.24.35-.3.48-.34a.68.68%200%2001.4%200c.13.04.24.1.48.34zM8%20741.93A7%207%200%20012.07%20736H1a1%201%200%20110-2h1.07A7%207%200%20018%20728.07V727a1%201%200%20112%200v1.07a7%207%200%20015.93%205.93H17a1%201%200%20110%202h-1.07a7%207%200%2001-5.93%205.93V743a1%201%200%2011-2%200v-1.07zM9%20740a5%205%200%20100-10%205%205%200%20000%2010zm0-3a2%202%200%20110-4%202%202%200%20010%204zm1.71-61.11c0%201.98%202.05%203.03%203.8%207%20.56%201.26%202%203.11-5.51%203.11s-6.07-1.85-5.51-3.11c1.75-3.97%203.8-5.02%203.8-7v-2.33h-.43c-.24%200-.43-.18-.43-.4v-.77c0-.22.2-.39.43-.39h4.28c.24%200%20.43.17.43.39v.78c0%20.21-.2.39-.43.39h-.43v2.33zm1.74%208.07c.18-.05.25-.24.19-.41a9.55%209.55%200%2000-1.02-2.03c-.45-.7-.13.32-1.3.32s-2.58-2.37-3.94-.32a9.46%209.46%200%2000-1.01%202.03c-.07.17%200%20.36.18.4.5.15%201.5.3%203.45.3%201.95%200%202.95-.15%203.45-.3zm2.32-58.54c-.73%201.16-3.03%202.01-5.77%202.01s-5.04-.85-5.77-2c-.15-.26-.23-.12-.23%200v1.7c0%201.66%202.69%203.37%206%203.37s6-1.71%206-3.37v-1.7c0-.12-.08-.26-.23%200zm0-4.36c-.7%201.03-3.02%201.78-5.77%201.78-2.75%200-5.06-.75-5.78-1.78-.14-.21-.22-.1-.22%200v2c0%201.5%202.69%202.73%206%202.73s6-1.22%206-2.72v-2.01c0-.1-.08-.21-.23%200zM9%20615.5c-3.31%200-6%201-6%202.24v1.08c0%201.31%202.69%202.38%206%202.38s6-1.07%206-2.38v-1.08c0-1.23-2.69-2.24-6-2.24z%22%2F%3E%3Cpath%20d%3D%22M14.77%20624.92c-.73%201.16-3.03%202.01-5.77%202.01s-5.04-.85-5.77-2c-.15-.26-.23-.12-.23%200v1.7C3%20628.3%205.69%20630%209%20630s6-1.71%206-3.37v-1.7c0-.12-.08-.26-.23%200zm0-4.36c-.7%201.03-3.02%201.78-5.77%201.78-2.75%200-5.06-.75-5.78-1.78-.14-.21-.22-.1-.22%200v2c0%201.5%202.69%202.73%206%202.73s6-1.22%206-2.72v-2.01c0-.1-.08-.21-.23%200zM9%20615c-3.31%200-6%201-6%202.24v1.08c0%201.31%202.69%202.38%206%202.38s6-1.07%206-2.38v-1.08c0-1.23-2.69-2.24-6-2.24zm3.94%2039c.1.53.2.77.46%201H5.03c.05-1.1%203.15-3%203.15-5.5-.53.5-2.76%201.29-3.15%201.5-.07.04-1.37-.7-1.57-1-.45-.65-.47-.75-.46-.88.03-.25.32-.37.48-.46.01%200%20.86-.47%201.6-1.45.32-.76.57-1.4%201.84-2.03.48-.24.95-.42%201.28-.54a8.9%208.9%200%2000-.55-1.64s.89.14%201.58.54c.55.32.93.9%201.05.96.32.15.8.01%202.1%201%202.62%202%201.13%204.98%201.12%205l-.56%203.5zm-9.3%201h10.72c.22%200%20.3.02.38.07a.45.45%200%2001.2.19c.04.08.06.16.06.38v1.72c0%20.22-.02.3-.07.38a.45.45%200%2001-.19.2c-.08.04-.16.06-.38.06H3.64c-.22%200-.3-.02-.38-.07a.45.45%200%2001-.2-.19c-.04-.08-.06-.16-.06-.38v-1.72c0-.22.02-.3.07-.38a.45.45%200%2001.19-.2c.08-.04.16-.06.38-.06zm11.2-56.92C14.46%20599.55%2013.2%20602%209%20602s-5.46-2.45-5.84-3.92l-1.02.09L3.87%20595l2.25%202.81-.93.08c.29.76%201.01%201.76%202.81%202.03v-6.1a3%203%200%20112%200v6.1c1.8-.27%202.52-1.27%202.8-2.03l-.92-.08%202.25-2.81%201.73%203.16-1.02-.1zM9%20592a1%201%200%20100-2%201%201%200%20000%202zm-7.75-30.2a1%201%200%2001.9-1.07l8.98-.79a1%201%200%20011.08.9l.79%208.98a1%201%200%2001-.9%201.08l-8.98.78a1%201%200%2001-1.08-.9l-.79-8.98zM4%20564a1%201%200%20100-2%201%201%200%20000%202zm3%203a1%201%200%20100-2%201%201%200%20000%202zm3%202a1%201%200%20100-2%201%201%200%20000%202zm3.93-4.18l2.2.2a1%201%200%2001.9%201.07l-.79%208.97a1%201%200%2001-1.07.91l-8.98-.79a1%201%200%2001-.9-1.07l.08-1%208.22-.71a1%201%200%2000.9-1.08l-.56-6.5zM1%20542.52c0-.27.21-.5.49-.5h3.02c.27%200%20.49.22.49.5v3.02c0%20.27-.21.49-.49.49H1.49a.49.49%200%2001-.49-.5v-3.02zm5%200c0-.27.21-.5.49-.5h3.02c.27%200%20.49.22.49.5v3.02c0%20.27-.21.49-.49.49H6.49a.49.49%200%2001-.49-.5v-3.02zm5%200c0-.27.21-.5.49-.5h3.02c.27%200%20.49.22.49.5v3.02c0%20.27-.21.49-.49.49h-3.02a.49.49%200%2001-.49-.5v-3.02zm-5-5c0-.27.21-.5.49-.5h3.02c.27%200%20.49.22.49.5v3.02c0%20.27-.21.49-.49.49H6.49a.49.49%200%2001-.49-.5v-3.02zm5.55-4.15a.49.49%200%20010-.69l2.13-2.13a.49.49%200%2001.7%200l2.13%202.13a.49.49%200%20010%20.7l-2.14%202.13a.49.49%200%2001-.69%200l-2.13-2.14zM1%20537.51c0-.27.21-.49.49-.49h3.02c.27%200%20.49.22.49.5v3.02c0%20.27-.21.49-.49.49H1.49a.49.49%200%2001-.49-.5v-3.02zm0-5c0-.27.21-.49.49-.49h3.02c.27%200%20.49.22.49.5v3.02c0%20.27-.21.49-.49.49H1.49a.49.49%200%2001-.49-.5v-3.02zm5.04.71a.49.49%200%2001.18-.67l2.62-1.5a.49.49%200%2001.67.17l1.5%202.62a.49.49%200%2001-.17.67L8.22%20536a.49.49%200%2001-.67-.17l-1.5-2.62zm6.42%202.9a.49.49%200%2001.66-.18l2.62%201.51a.49.49%200%2001.18.67l-1.51%202.62a.49.49%200%2001-.67.18l-2.61-1.51a.49.49%200%2001-.19-.67l1.52-2.62zM5%20392v4l1.5-2%201.5%202v-4h5.5a1.5%201.5%200%20011.5%201.5V404H4.5a.5.5%200%2000-.5.5c0%20.27.22.5.5.5H15v.5a.5.5%200%2001-.5.5h-10a1.5%201.5%200%2001-1.5-1.5v-11c0-.83.68-1.5%201.5-1.5H5zm3.96%2028h1.08c.33%200%20.45.04.58.1a.68.68%200%2001.28.28c.07.13.1.25.1.58v11.08c0%20.33-.04.45-.1.58a.68.68%200%2001-.28.28c-.13.07-.25.1-.58.1H8.96c-.33%200-.46-.04-.58-.1a.68.68%200%2001-.28-.28c-.07-.13-.1-.25-.1-.58v-11.08c0-.33.03-.46.1-.58a.68.68%200%2001.28-.28c.13-.07.25-.1.58-.1zm-5%206.98h1.08c.33%200%20.46.04.58.1a.68.68%200%2001.28.29c.07.12.1.24.1.58v4.07c0%20.34-.03.46-.1.58a.68.68%200%2001-.28.28c-.13.07-.25.1-.58.1H3.96c-.33%200-.46-.03-.58-.1a.68.68%200%2001-.28-.28c-.07-.12-.1-.24-.1-.58v-4.07c0-.34.03-.46.1-.58a.68.68%200%2001.28-.29c.13-.06.25-.1.58-.1zm10-3.98h1.08c.33%200%20.45.04.58.1a.68.68%200%2001.28.28c.07.13.1.25.1.58v8.08c0%20.33-.04.45-.1.58a.68.68%200%2001-.28.28c-.13.07-.25.1-.58.1h-1.08c-.33%200-.46-.04-.58-.1a.68.68%200%2001-.28-.28c-.07-.13-.1-.25-.1-.58v-8.08c0-.33.03-.45.1-.58a.68.68%200%2001.28-.28c.13-.07.25-.1.58-.1zm-3.12%2090.04c.41%203.52-.27%203.26-4.03%204.87-.72.3-.97-.2-.77-.74l.65-1.75-2.11-2.1-1.75.64c-.55.2-1.04-.05-.74-.76%201.6-3.77%201.35-4.45%204.87-4.04%200%200%204.05-5.75%208.69-5.11.1.01.17.05.2.1a.36.36%200%2001.1.2c.64%204.64-5.1%208.7-5.1%208.7zm.82-4.7a1.25%201.25%200%20101.76-1.77%201.25%201.25%200%2000-1.76%201.77zM8%20455v1h3v-1h5v5.01a1%201%200%2001-1%20.99H4a1%201%200%2001-1-.99V455h5zm-6-3.99A1%201%200%20013%20450h13a1%201%200%20011%201.01V454H2v-2.99zM7%20450H5.5l1-2h6l1%202H12l-.5-1h-4l-.5%201zm2.61-142.28l1.56%204.4h3.89a.65.65%200%2001.4%201.16l-3.22%202.42%201.2%204.45a.65.65%200%2001-1.02.69L9%20318.22l-3.42%202.62a.65.65%200%2001-1.03-.69l1.2-4.45-3.2-2.42a.65.65%200%2001.39-1.17h3.89l1.56-4.39a.65.65%200%20011.22%200zM4.5%20258c.8%200%201.5.7%201.5%201.5s-.7%201.5-1.5%201.5-1.5-.7-1.5-1.5.7-1.5%201.5-1.5zm5%200c.8%200%201.5.7%201.5%201.5s-.7%201.5-1.5%201.5-1.5-.7-1.5-1.5.7-1.5%201.5-1.5zm5%200c.8%200%201.5.7%201.5%201.5s-.7%201.5-1.5%201.5-1.5-.7-1.5-1.5.7-1.5%201.5-1.5zm.46%2088.48L12%20345v-6l2.96-1.48v-.01a.5.5%200%2001.5-.51h.04c.28%200%20.5.23.5.51v8.98a.5.5%200%2001-.5.51h-.05a.5.5%200%2001-.49-.51v-.01zM8.16%20345l.6%203.78a.95.95%200%2001-.8%201.09%201%201%200%2001-1.12-.82L6.16%20345H5a3%203%200%20010-6h6v6H8.17zM10%20284.5V280l5%205h-4.5a.5.5%200%2001-.5-.5zM4.28%20280H9v4.72c0%20.44.05.6.13.77.1.16.22.29.38.38.17.08.33.13.77.13H15v6.72c0%20.44-.05.6-.13.77a.9.9%200%2001-.38.38c-.17.08-.33.13-.77.13H4.28c-.44%200-.6-.05-.77-.13a.9.9%200%2001-.38-.38c-.08-.17-.13-.33-.13-.77v-11.44c0-.44.05-.6.13-.77a.9.9%200%2001.38-.38c.17-.08.33-.13.77-.13zM15.5%20142.08c.85%200%201.6.76%201.49%201.63v7.65c0%20.87-.75%201.64-1.6%201.64H2.6c-.85%200-1.6-.76-1.6-1.64v-7.43c0-.87.75-1.85%201.6-1.85h1.39c.32%200%20.53-.22.64-.44l.53-1.2c.1-.22.42-.44.64-.44h6.5c.32%200%20.53.22.64.44l.53%201.2c.1.22.43.44.64.44h1.39zM9%20151c2.17%200%204-1.83%204-4s-1.83-4-4-4-4%201.83-4%204%201.83%204%204%204zm0-6.5c1.41%200%202.5%201.09%202.5%202.5s-1.09%202.5-2.5%202.5-2.5-1.09-2.5-2.5%201.09-2.5%202.5-2.5zm4%2032.32V171l-6%202v7.5l-.08-.02c.13.92-.6%201.92-1.77%202.35-1.3.47-2.64.05-3-.93-.36-1%20.4-2.17%201.7-2.64a3.14%203.14%200%20011.16-.2.75.75%200%20010-.06v-9.04L15%20167v11.5l-.08-.01c-.03.81-.68%201.66-1.68%202.08-1.27.55-2.63.2-3.04-.77-.41-.96.29-2.18%201.56-2.72a3.12%203.12%200%20011.24-.26zM12%20210H6v-2H4v2H3a1%201%200%2001-1-1v-12a1%201%200%20011-1h1v2h2v-2h6v2h2v-2h1a1%201%200%20011%201v12a1%201%200%2001-1%201h-1v-2h-2v2zm-6-8v-2H4v2h2zm8%200v-2h-2v2h2zm-8%204v-2H4v2h2zm8%200v-2h-2v2h2zm2.77%2026.25c.1.4%201%204.54-1.6%204.75-1.09.1-2.28-1.62-3.18-2.53-.8-1-1.7-1.5-3.09-1.5s-2.19.5-3.08%201.5c-.9.91-2.1%202.63-3.09%202.53-2.49-.1-1.6-4.34-1.5-4.75.4-2.22%201.8-6.25%204.59-6.25%200%200%20.9.1%201.6.5%201.19.5%201.78.5%203.08%200a5.48%205.48%200%20011.6-.5c2.88%200%204.17%203.93%204.67%206.25zM11%20230.5c0%20.27.22.5.5.5a.5.5%200%2000.5-.5.5.5%200%2000-.5-.5.5.5%200%2000-.5.5zm2%200c0%20.27.22.5.5.5a.5.5%200%2000.5-.5.5.5%200%2000-.5-.5.5.5%200%2000-.5.5zm-7-.5v-.5a.5.5%200%2000-1%200v.5h-.5a.5.5%200%20000%201H5v.5a.5.5%200%20001%200v-.5h.5a.5.5%200%20000-1H6zM9%2092c5.4%200%206%202.7%206%204.1%200%20.7-.24.9-1.68.9H4.8c-1.44%200-1.8-.2-1.8-.9%200-1.5.6-4.1%206-4.1zm0-1c-1.66%200-3-1.17-3-3.5S7.34%2084%209%2084s3%201.17%203%203.5S10.66%2091%209%2091zm-8%2032.1c0-1.5%200-4.1%205-4.1s5%202.7%205%204.1c0%20.7-.2.9-1.4.9H2.5c-1.2%200-1.5-.2-1.5-.9zm11.59.9l.01-.28c0-1.37-.04-3.34-1.47-4.7L12%20119c4.5%200%205%202.7%205%204.1%200%20.7-.2.9-1.4.9h-3.01zM6%20118c-1.1%200-2-.83-2-2.5s.9-2.5%202-2.5%202%20.83%202%202.5-.9%202.5-2%202.5zm6%200c-1.1%200-2-.83-2-2.5s.9-2.5%202-2.5%202%20.83%202%202.5-.9%202.5-2%202.5zm1.23-87.64C15.43%2031.09%2017%2032.9%2017%2035c0%201.79-1.12%203.35-2.81%204.24.08.48.38%201.13.82%201.78-1.58%200-2.42-.42-2.89-1.1a7.2%207.2%200%2001-2.06.02c2.6-1%204.44-3.23%204.44-5.94%200-1.37-.47-2.62-1.27-3.64zM5.88%2038.9C5.4%2039.6%204.57%2040%202.98%2040c.45-.64.75-1.29.83-1.76C2.12%2037.35%201%2035.78%201%2034c0-2.76%202.69-5%206-5s6%202.24%206%205-2.69%205-6%205c-.38%200-.76-.03-1.12-.09zM9%2070a2%202%200%2001-2-2h4a2%202%200%2001-2%202zm4.85-6s1.16.8%201.7%201.6c.96%201.3.31%201.4-1.18%201.4H3.63c-1.5%200-2.14-.1-1.18-1.4.54-.8%201.7-1.6%201.7-1.6v-3c0-2.6%201.19-4.5%203.66-5%200%200%200-1%201.19-1s1.18%201%201.18%201c2.21.5%203.67%202.4%203.67%205v3zM9.65.3c-.4-.4-1-.4-1.3%200L1.2%207.25c-.4.4-.2.7.3.7L3%208v5c0%201%200%201%201%201h2.5a.5.5%200%2000.5-.5V10a2%202%200%20014%200v3.5a.49.49%200%2000.5.5H14c1%200%201%200%201-1V8l1.58-.06c.4-.1.6-.4.2-.7L9.65.3zM5%20937H2a1%201%200%2001-1-1v-9h2v6.5c0%20.27.22.5.5.5H4v-10a1.01%201.01%200%20011-1h10a1%201%200%20011%201v11.5c0%20.83-.68%201.5-1.5%201.5H5zm2-10.51v3.02c0%20.28.22.49.5.49h5a.5.5%200%2000.5-.49v-3.02a.49.49%200%2000-.5-.49h-5a.5.5%200%2000-.5.49zm0%205.01c0%20.27.22.5.5.5h5a.5.5%200%20000-1h-5a.5.5%200%2000-.5.5zm0%202c0%20.27.22.5.49.5h3.02a.5.5%200%2000.49-.5.5.5%200%2000-.49-.5H7.49a.5.5%200%2000-.49.5zM5%20953a4%204%200%20118%200h.72c.44%200%20.6.05.77.13.16.1.29.22.38.38.08.17.13.33.13.77v8.44c0%20.44-.05.6-.13.77a.9.9%200%2001-.38.38c-.17.08-.33.13-.77.13H4.28c-.44%200-.6-.05-.77-.13a.9.9%200%2001-.38-.38c-.08-.16-.13-.33-.13-.77v-8.44c0-.44.05-.6.13-.77a.9.9%200%2001.38-.38c.17-.08.33-.13.77-.13H5zm1.25%200h5.5a2.75%202.75%200%2000-5.5%200zm1.66%2020.64a4.12%204.12%200%20012.18%200l.81-1.09a.75.75%200%20111.2.9l-.7.94c.57.59.93%201.45%201.1%202.61h-7a4.54%204.54%200%20011.1-2.6l-.7-.95a.75.75%200%20111.2-.9l.81%201.09zm-3.6%205.33c.05-.33.11-.66.19-.97h9c.08.31.14.64.19.97l.53-.35a.25.25%200%2000.11-.17l.43-2.57a.75.75%200%20111.48.24l-.43%202.58c-.08.47-.35.9-.75%201.16l-1.26.84a13.2%2013.2%200%2001-.27%202.6l1.68%201.4c.3.25.52.6.6%201l.43%202.15a.75.75%200%2011-1.47.3l-.44-2.16a.25.25%200%2000-.08-.14l-1.17-.97c-.76%202.06-2.12%203.62-4.08%203.62s-3.32-1.56-4.08-3.62l-1.17.97a.25.25%200%2000-.08.14l-.43%202.16a.75.75%200%2011-1.48-.3l.43-2.15a1.75%201.75%200%2001.6-1l1.68-1.4a13.2%2013.2%200%2001-.27-2.6l-1.26-.84a1.75%201.75%200%2001-.75-1.16l-.43-2.58a.75.75%200%20111.48-.24l.43%202.57a.25.25%200%2000.1.17l.54.35zm-.97%2035.69a8%208%200%201111.32-11.32%208%208%200%2001-11.32%2011.32zm7.43-3.9a2.5%202.5%200%20110-3.52.86.86%200%20001.05.14.68.68%200%2000.18-1.02%202.79%202.79%200%2000-.17-.19%204%204%200%20100%205.66l.16-.19a.68.68%200%2000-.18-1.01.86.86%200%2000-1.04.13zM9%201045a8%208%200%20110-16%208%208%200%20010%2016zm-5.79%2016.02h.07l5.17%202.1c.13.05.27.1.42.13.09.02.18.02.28%200%20.14-.03.28-.08.41-.13l5.16-2.1a.21.21%200%2001.26.1.11.11%200%20010%20.09v6.83c.02.1.02.21%200%20.31a.3.3%200%2001-.12.17.72.72%200%2001-.26.15l-5%202c-.13.06-.27.1-.42.13a.66.66%200%2001-.27%200%202.24%202.24%200%2001-.42-.12l-5-2a.72.72%200%2001-.26-.16.39.39%200%2001-.21-.14.81.81%200%20010-.3v-6.85a.21.21%200%2001.2-.22zm5.93-4c.15.02.29.07.42.13l5.26%202.09a.2.2%200%2001.11.26.22.22%200%2001-.1.12l-5.27%202.1c-.13.05-.27.1-.42.12a.66.66%200%2001-.28%200%201.86%201.86%200%2001-.41-.12l-5.26-2.1a.2.2%200%2001-.11-.25.22.22%200%2001.1-.12l5.27-2.1c.13-.06.27-.1.42-.13a.66.66%200%2001.28%200zM9.5%201040a.5.5%200%20000-1H8v-1h1.5c1.75%200%203-1%203-2.5s-1.27-2.49-3-2.49h-2a.5.5%200%2000-.5.5v3.49h-.5a.5.5%200%2000-.5.49c0%20.27.22.5.5.5l.5.01v1.01h-.5a.5.5%200%2000-.5.49c0%20.28.22.5.5.5l.5.01v.49a.5.5%200%2000.5.5.5.5%200%2000.5-.51v-.49h1.5zm-1.5-6h1.5c1.5%200%202%20.75%202%201.5s-.5%201.5-2%201.5H8v-3zm6.66-668.66a8%208%200%2011-11.32%2011.32%208%208%200%200111.32-11.32zm-8.13%208.13a3.5%203.5%200%20104.95-4.95%203.5%203.5%200%2000-4.95%204.95zm6.92-.07l1.5.8a6.76%206.76%200%20000-6.4l-1.5.8c.81%201.5.81%203.3%200%204.8zm-1.25-8.34a6.76%206.76%200%2000-6.4%200l.8%201.48a5.06%205.06%200%20014.8%200l.8-1.48zm-9.14%202.74a6.76%206.76%200%20000%206.4l1.49-.8a5.06%205.06%200%20010-4.8l-1.5-.8zm2.74%209.14a6.76%206.76%200%20006.4%200l-.8-1.48c-1.5.8-3.3.8-4.8%200l-.8%201.48zM9%20475a8.01%208.01%200%20010%2016%208%208%200%20010-16zm6.82%208c0-3-1.95-5.56-4.65-6.47-.17.2-.3.4-.28.53.18%201.83%201.42.46%201.67.73.86.95-1.62%201.28-.76%203%20.41.83.9%201.06%201.6%201.07.7.01.95%201.2%201%201.7.06.5%200%201.77-.26%202.32-.25.55.02%201.07.27%201.27a6.8%206.8%200%20001.41-4.15zm-7.76-6.76a6.84%206.84%200%2000-5.43%204.31c.5.06%201.71.07%201.86.5.16.42-.53.87-.53%201.76%200%20.98%201.27.97%201.27%201.72%200%20.74.27%201.6.27%201.85S6.55%20488%206.95%20488c.39%200%20.08-1.53.1-1.93.01-.27.19-1.07.24-1.25.34-1.28%201.6-1.15%201.9-1.92.91-2.43-1.96-2.57-2.35-2.7a2.69%202.69%200%2000-1.3-.07c-.26.09-.76-.34-.76-.7%200-.35%201-1.06%201.3-1.56.31-.5.56-.42%201.13-.94.26-.24.69-.37.85-.69zm-1.2%2013.24a6.8%206.8%200%20005.9-.8c-.3-.54-1.41-.61-1.98-.57-.67.06-1.43.49-1.85.58-.48.1-.83.26-1.25.27-.37.02-.42.3-.83.52z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat 7px -441px;
    }
    
    #side_bar .left_icon {
        width: 35px;
        height: 25px;
        opacity: .75;
        position: relative;
    }
    
    #side_bar .left_label {
        height: 28px;
        line-height: 27px;
        font-size: 12.5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    #side_bar .inl_bl {
        vertical-align: baseline;
    }
    
    left_fixer,
    .left_fixer>span {
        display: block;
    }
    
    #side_bar #l_nwsf .left_icon {
        background-position: 7px -917px;
    }
    
    #side_bar #l_msg .left_icon {
        background-position: 7px -21px;
    }
    
    #side_bar #l_fr .left_icon {
        background-position: 7px -77px;
    }
    
    #side_bar #l_gr .left_icon {
        background-position: 7px -105px;
    }
    
    #side_bar #l_ph .left_icon {
        background-position: 7px -133px;
    }
    
    #side_bar #l_aud .left_icon {
        background-position: 7px -161px;
    }
    
    #side_bar #l_vid .left_icon {
        background-position: 7px -189px;
    }
    
    #side_bar #l_svd .left_icon {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2216%22%20width%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%237c9cb8%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M6.697%205.29c.077.305.513.301.584-.006l.98-4.25a1.333%201.333%200%20012.629.401L10.5%206.5h.129a3.371%203.371%200%20013.368%203.563l-1.243-.723C11.08%208.367%209%209.584%209%2011.504v3.492c0%20.31.054.602.153.87A6.151%206.151%200%20017.87%2016H7c-3.705%200-5.5-3-5.5-5v-.188A3.062%203.062%200%20014.562%207.75h.424a1.037%201.037%200%2001.328%202.021l-.051.017a.75.75%200%2010.474%201.423l.051-.017a2.537%202.537%200%2000-.802-4.944h-.424c-.382%200-.754.047-1.11.136l-.34-4.44a1.344%201.344%200%20012.642-.428zm7.042%206.358a6.145%206.145%200%2001-3.167%203.726%201.007%201.007%200%2001-.072-.378v-3.492a.999.999%200%20011.5-.867z%22%20fill-rule%3D%22evenodd%22%2F%3E%3Cpath%20d%3D%22M15.002%2012.383a1.004%201.004%200%20010%201.734L12%2015.863a.999.999%200%2001-1.5-.867v-3.492a.999.999%200%20011.5-.867z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat 8px 5px;
    }
    
    #side_bar #l_ap .left_icon {
        background-position: 7px -217px;
    }
    
    #side_bar .more_div {
        margin-left: 27px;
        margin-right: 6px;
        margin-top: 9px;
        padding-top: 9px;
        border-top: 1px solid #dce1e6;
    }
    
    #side_bar #l_vkp .left_icon {
        background-position: 7px -1023px;
    }
    
    #side_bar #l_job .left_icon {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2214%22%20height%3D%2213%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7%20.002C6.144.005%205.655.027%205.246.16a3.25%203.25%200%2000-2.087%202.087c-.134.411-.155.904-.158%201.77-.708.028-1.179.106-1.569.32A2.75%202.75%200%2000.336%205.431C0%206.048%200%206.865%200%208.5s0%202.452.336%203.068a2.75%202.75%200%20001.096%201.096C2.048%2013%202.865%2013%204.5%2013h5c1.635%200%202.452%200%203.068-.336a2.75%202.75%200%20001.096-1.096C14%2010.952%2014%2010.135%2014%208.5s0-2.452-.336-3.068a2.75%202.75%200%2000-1.096-1.096c-.39-.213-.86-.29-1.569-.32-.003-.865-.024-1.358-.158-1.77A3.25%203.25%200%20008.754.16C8.345.027%207.856.005%207%20.002zM9.298%204c-.005-.872-.027-1.085-.074-1.228a1.55%201.55%200%2000-.995-.995C8.086%201.73%207.873%201.708%207%201.702c-.873.006-1.086.028-1.229.075a1.55%201.55%200%2000-.995.995c-.047.143-.069.356-.074%201.228h4.596z%22%20fill%3D%22%237996B3%22%2F%3E%3C%2Fsvg%3E) no-repeat 9px 7px;
    }
    
    #side_bar #l_market_orders .left_icon {
        background-position: 7px -1051px;
    }
    
    #side_bar #l_mk .left_icon {
        background-position: 7px -944px;
    }
    
    #side_bar #l_fav .left_icon {
        background-position: 7px -301px;
    }
    
    #side_bar #l_doc .left_icon {
        background-position: 7px -273px;
    }
    
    #side_bar #l_covid19 .left_icon {
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2218%22%20width%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%201.5c.5523%200%201%20.4477%201%201a.9985.9985%200%2001-.3999.8l-.0005.7356c.4784.0572.936.1819%201.3631.3643l.3671-.6374a.9985.9985%200%2001.0542-.8917c.2761-.4783.8877-.6421%201.366-.366.4783.2762.6422.8877.366%201.366a.9985.9985%200%2001-.7463.4929l-.3675.6376c.3772.2836.7129.6193.9965.9965l.6377-.3687a.9985.9985%200%2001.4928-.7451c.4783-.2762%201.0898-.1123%201.366.366.2761.4783.1123%201.0899-.366%201.366a.9985.9985%200%2001-.8928.0537l-.6363.3676c.1823.4268.307.884.3642%201.362l.7364-.0004A.9985.9985%200%200115.5%208c.5523%200%201%20.4477%201%201s-.4477%201-1%201a.9985.9985%200%2001-.8-.3999l-.7356-.0005a4.9665%204.9665%200%2001-.3643%201.3631l.6374.3671a.9985.9985%200%2001.8917.0542c.4783.2761.6421.8877.366%201.366-.2762.4783-.8877.6422-1.366.366a.9985.9985%200%2001-.4929-.7463l-.6376-.3675a5.0293%205.0293%200%2001-.9965.9965l.3687.6377a.9985.9985%200%2001.7451.4928c.2762.4783.1123%201.0898-.366%201.366-.4783.2761-1.0899.1123-1.366-.366a.9985.9985%200%2001-.0537-.8928l-.3676-.6363a4.9665%204.9665%200%2001-1.362.3642l.0004.7364A.9985.9985%200%200110%2015.5c0%20.5523-.4477%201-1%201s-1-.4477-1-1c0-.3271.157-.6175.3999-.8l.0005-.7356a4.9665%204.9665%200%2001-1.3631-.3643l-.3671.6374a.9985.9985%200%2001-.0542.8917c-.2761.4783-.8877.6421-1.366.366-.4783-.2762-.6422-.8877-.366-1.366a.9985.9985%200%2001.7463-.4929l.3675-.6376a5.0293%205.0293%200%2001-.9965-.9965l-.6377.3687a.9985.9985%200%2001-.4928.7451c-.4783.2762-1.0898.1123-1.366-.366-.2761-.4783-.1123-1.0899.366-1.366a.9985.9985%200%2001.8928-.0537l.6363-.3676a4.9665%204.9665%200%2001-.3642-1.362l-.7364.0004A.9985.9985%200%20012.5%2010c-.5523%200-1-.4477-1-1s.4477-1%201-1c.3271%200%20.6175.157.8.3999l.7356.0005a4.9665%204.9665%200%2001.3643-1.3631l-.6374-.3671a.9985.9985%200%2001-.8917-.0542c-.4783-.2761-.6421-.8877-.366-1.366.2762-.4783.8877-.6422%201.366-.366a.9985.9985%200%2001.4929.7463l.6376.3675a5.0293%205.0293%200%2001.9965-.9965l-.3687-.6377a.9985.9985%200%2001-.7451-.4928c-.2762-.4783-.1123-1.0898.366-1.366.4783-.2761%201.0899-.1123%201.366.366a.9985.9985%200%2001.0537.8928l.3676.6363a4.9665%204.9665%200%20011.362-.3642l-.0004-.7364A.9985.9985%200%20018%202.5c0-.5523.4477-1%201-1z%22%20fill%3D%22%237d9cb8%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E) no-repeat 7px 5px;
    }
    
    #page_layout {
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .wide_column_wrap {
        margin-left: 180px;
        margin-top: -580px;
    }
    
    .wide_column {
        position: relative;
        width: 100%;
    }
    
    #page_body {
        margin-top: 42px;
        font-size: 13px;
        margin-bottom: 100px;
    }
    
    .wide_column_left .narrow_column_wrap {
        float: right;
        margin-right: -250px;
        margin-top: -15px;
    }
    
    .narrow_column_wrap {
        position: relative;
        width: 230px;
    }
    
    .ui_rmenu_item_sel,
    .ui_rmenu_item_sel:hover {
        padding-left: 18px;
        border-left: 2px solid #5181b8;
        background-color: #f0f2f5;
        color: black;
        font-weight: 500;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
        text-decoration: none;
    }
    
    .narrow_column {
        width: 230px;
    }
    
    .ui_rmenu {
        padding: 6px 0;
        position: relative;
    }
    
    .page_block {
        background: white;
        border-radius: 4px;
        box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px #e7e8ec;
        margin: 15px 0 100px 0;
    }
    
    .ui_rmenu_item,
    .ui_rmenu_subitem {
        padding: 0 5px 0 20px;
        cursor: pointer;
    }
    
    .ui_rmenu_item,
    .ui_rmenu_subitem {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 32px;
        line-height: 31px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
    }
    
    .ui_rmenu_slider {
        position: absolute;
    }
    /* .wide_column_left .wide_column_wrap {
        margin-right: 245px;
    } */
    
    .wide_column {
        position: relative;
        width: 100%;
    }
    
    h2.page_block_h2 {
        margin: 0;
        color: inherit;
    }
    
    .page_block_header {
        background: #fafbfc;
        padding: 0 20px;
        border-bottom: 1px solid #e7e8ec;
        border-radius: 4px 4px 0 0;
        display: block;
        height: 54px;
        line-height: 54px;
        font-size: 16px;
        outline: 0;
        color: black;
    }
    
    .page_block_header_extra {
        float: right;
    }
    
    .page_block_header_extra_left {
        float: left;
    }
    
    .page_block_header_inner {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .page_block_saved {
        float: right;
        color: #656565;
        opacity: 0;
        font-size: 13px;
        font-weight: 400;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
    
    .clear_fix::after {
        clear: both;
    }
    
    .clear_fix::after {
        content: '.';
        display: block;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
    
    .settings_panel {
        margin: 0 20px;
    }
    
    .settings_line {
        margin: 0;
        padding: 15px 0 14px;
        border-bottom: 1px solid #e7e8ec;
    }
    
    .settings_info_block {
        line-height: 16px;
    }
    
    .settings_label {
        padding: 6px 10px 6px 0;
        float: left;
        color: #656565;
        width: 145px;
        line-height: 16px;
    }
    
    .settings_labeled_text {
        margin: 0 0 8px 155px;
        padding-top: 6px;
    }
    
    .settings_menu_link:first-child {
        padding-top: 0;
    }
    
    .settings_tabindex_link,
    .settings_right_control {
        outline: 0;
    }
    
    a {
        color: #2a5885;
        text-decoration: none;
    }
    
    h2 {
        margin: 20px 0 15px;
        font-size: 16px;
        color: black;
        font-weight: 400;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    
    h2.page_block_h2 {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
    
    .settings_narrow_row {
        margin-bottom: 10px;
    }
    
    .settings_narrow_row input[type=checkbox]+label:before {
        float: left;
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20width%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20fill%3D%22%23fff%22%20height%3D%2215%22%20rx%3D%223%22%20width%3D%2215%22%2F%3E%3Crect%20height%3D%2214%22%20rx%3D%223%22%20stroke%3D%22%23c1c9d1%22%20width%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat 0 center;
        margin: 0 7px 0 0;
        display: block;
        content: '';
        width: 15px;
        height: 15px;
    }
    
    .settings_narrow_row label {
        cursor: pointer;
    }
    
    .blind_label {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        opacity: 0;
        overflow: hidden;
        outline: 0;
    }
    
    input[type="checkbox" i] {
        background-color: initial;
        cursor: default;
        appearance: checkbox;
        box-sizing: border-box;
        margin: 3px 3px 3px 4px;
        padding: initial;
        border: initial;
    }
    
    input {
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: textfield;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        cursor: text;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
        border-image: initial;
    }
    
    label {
        cursor: default;
    }
    
    .settings_narrow_row input[type=checkbox]:checked+label:before {
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235181B8%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    }
    
    .settings_narrow_row input[type=checkbox]+label:before {
        float: left;
        background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20width%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20fill%3D%22%23fff%22%20height%3D%2215%22%20rx%3D%223%22%20width%3D%2215%22%2F%3E%3Crect%20height%3D%2214%22%20rx%3D%223%22%20stroke%3D%22%23c1c9d1%22%20width%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat 0 center;
        margin: 0 7px 0 0;
        display: block;
        content: '';
        width: 15px;
        height: 15px;
    }
    
    .idd_wrap {
        cursor: pointer;
        display: inline-block;
        line-height: 1em;
    }
    
    .idd_wrap .idd_selected_value {
        margin: 0;
        padding: 0;
        line-height: 1em;
        display: inline-block;
        outline: 0;
        color: #2a5885;
    }
    
    input[type="hidden" i] {
        display: none;
        appearance: initial;
        background-color: initial;
        cursor: default;
        padding: initial;
        border: initial;
    }
    
    .settings_change_block {
        display: none;
    }
    
    .settings_row {
        margin-bottom: 15px;
        line-height: 16px;
    }
    
    .clear_fix {
        display: block;
    }
    
    .settings_right_control {
        float: right;
        padding: 6px 0 0 0;
        outline: 0;
    }
    
    .settings_line[onclick]:hover .settings_right_control {
        text-decoration: underline;
    }
    
    .settings_labeled {
        margin-left: 155px;
    }
    
    .clear_fix::after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
    
    .settings_row {
        margin-bottom: 15px;
        line-height: 16px;
    }
    
    .settings_line {
        margin: 0;
        padding: 15px 0 14px;
        border-bottom: 1px solid #e7e8ec;
    }
    
    .settings_block_footer {
        border-top: 1px solid #e7e8ec;
        background: #fafbfc;
        padding: 15px 0 17px;
        border-radius: 0 0 4px 4px;
        text-align: center;
        line-height: 140%;
    }
    
    .fixed {
        position: fixed;
    }
    
    .ui_rmenu_item:hover {
        background-color: #f0f2f5;
    }